$orangeLight:#f3af9d;
$orange:#e8663c;
$white:#ffffff;
$font_family_HelveticaNeue:'HelveticaNeue-jetro', sans-serif;
$font_family_Bebas:'Bebas-jetro', sans-serif;
$transition:all .5s ease .2s;  
/*отладочные переменные*/
$borderSection:1px solid  black;
$borderBlock:1px solid red;
$borderElement:1px solid green;

 